<html>
	<head>
		<title>AngularJS </title>
		<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<link rel="stylesheet" href="style.css"> 
	</head>
	<body>
		<div class="OuterContainer"  ng-app="myApp" ng-controller="myCtrl">
			<form name="loginForm">
				<div class="logoContainer">
					<a href="#/!">Main</a>
					<a href="#!red">Red</a>
					<a href="#!green">Green</a>
					<a href="#!blue">Blue</a>
				</div>
				<div class="loginHeader" align="center">
				<h4>Kirjaudu Minun palveluuni</h4>
				</div>
				<div class="loginContainer1" align="left">
					<p class="loginBoxTitle" align="left">DNA	Tunnus</p>
					<div class="loginContainer2">		
						<label>Sähköpostiosoite: </label>
							<input type="email" placeholder="Email" name="email" ng-model="email" />	
							<p class="email-validation-message" ng-if="loginForm.email.$invalid && loginForm.email.$dirty">Please Enter a valid email address</p>
						<label>Salasana: </label>
							<input type="password" placeholder="password" name="password" ng-model="password"  ng-minlength="8" ng-maxlength="16"/>	
							<span class="email-validation-message"  ng-show="loginForm.password.$dirty && loginForm.password.$error.required">Required</span>
							<span class="email-validation-message"  ng-show="loginForm.password.$dirty && loginForm.password.$error.minlength">Password is too short</span>
							<span class="email-validation-message"  ng-show="loginForm.password.$dirty && loginForm.password.$error.maxlength">Password is too Long</span>
					</div>     
					<div class="loginContainer3">		
						<p><button ng-click = "login()">KIRJAUDU</button></p>
					</div>
					<p>email entered is: {{email}}</p>
					<p>password entered is: {{password}}</p>
				</div>	
			</form>
		</div>	
   </body>
   <script src="loginController.js"></script>
</html>